.header {
    height: 65px;
    text-transform: uppercase;
    font-size: 20px;
  
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &-left {
      height: 50px;
      display: flex;
      align-items: center;
    }
  
    &-logo {
      height: 50px;
      display: flex;
      align-items: center;
      height: auto;
      transition: 0.2s;
      padding: 7px;
  
      &:hover {
        background-color: #ffffff;
      }
    }
  
    &-statistics {
      transition: 0.2s;
      padding: 15px;
      padding-bottom: 14px;
  
      &:hover {
        background-color: #ffffff;
      }
    }
  
    &-right {
      display: flex;
    }
  
    &__signup {
      padding: 15px;
      transition: 0.2s;
  
      &:hover {
        background-color: #ffffff;
      }
    }
  
    &__login {
      transition: 0.2s;
      padding: 15px;
  
      &:hover {
        background-color: #ffffff;
      }
    }
  
    &-cognition-logo {
      height: 50px;
    }
  }
.cognition-logo{
    width: 50px;
}